
data_BP/convnets/
data_BP/model1est_real/
data_BP/model1est_synth/
data_BP/slp_real_cleaned/
data_BP/SLP_SMPL_fits/
data_BP/synth/
data_BP/synth_depth/
data_BP/results/

__pycache__

smpl/models/
smpl/smpl_webuser/
networks/logger.py
networks/log_W_cover2_model2_v2vp_pmr_v2v.txt
command.txt
data_BP/mod1est_real/
data_BP/mod1est_synth/